<form *ngIf="showAddEntry" (ngSubmit)="onSubmit()">
    <span> {{ validator_text }} </span>
    <input type="text" name="submitter_name" [(ngModel)]="submitter_name" id="submitter-name" placeholder="Your Name">
    <input type="email" name="email" [(ngModel)]="email" id="email" placeholder="Your Email">
    <input type="text" name="phone_number" [(ngModel)]="phone_number" id="phone-number" placeholder="Your Phone Number">

    <div>
        <div class="upload_preview">
            <img [src]="url" title="Profile Picture" height="150px" width="150px" />
            <input type="file" name="upload_photo" id="upload-photo" accept="image/*" (change)="onSelect($event)">
        </div>
        <input type="text" name="subject_name" [(ngModel)]="subject_name" id="subject-name" placeholder="Mom's Name">
        <textarea name="description" [(ngModel)]="description" id="description"
            placeholder="Add a short description here"></textarea>
    </div>
    <input type="submit" value="Submit Entry" class="uploadBtn">
</form>