/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html {
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    margin-right: 3rem;
    text-decoration: none;
    color: hsl(219, 79%, 66%);

    :hover {
        color: hsl(219, 79%, 46%);
        padding-bottom: .3rem;
        border-bottom: 1px solid #2f2f2f;
    }
}

img {
    max-width: 100%;
    display: block;
}

form {

    input:not([type="file"]), textarea {
        padding: .5em;
        margin: 1em;
        font-size: .7rem;
        border: 0;
        outline: 1px solid hsl(219, 79%, 66%);
        width: 100%;

        &:focus {
            outline: 2px solid hsl(219, 79%, 46%);
        }
    }

    textarea {
        height: 300px;
        resize: none;
    }

    .upload_preview {
        padding: .5em;
        margin: 1em;
        font-size: .7rem;
        border: 1px solid hsl(219, 79%, 66%);
        width: 100%;
        position: relative;

        img {
            width: 100%;
            object-fit: cover;
        }

        input {
            opacity: 0;
            width: 100%;
            height: 100%;
            inset: 0;
            position: absolute;
        }
    }
}

footer {
    padding: 1.5em 3rem;
    text-align: center;
    background-color: lavender;
    // position: absolute;
    // bottom: 0;
    // width: 100%;
    margin-top: 2rem;
}

.container {
    max-width: 40rem;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

}

.uploadBtn {
    background-color: lavender;
    border: 0;
    outline: 0 !important;
    padding: .5rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
}