<div class="container">
    <h1>Terms and Conditions</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur laboriosam ipsam eos cupiditate id non? Aut
        aliquid dolores sit nulla beatae ipsa velit a sapiente porro itaque exercitationem, culpa aspernatur? <br>
        Quo vero molestiae et rem, voluptatibus possimus hic, aspernatur quam harum similique asperiores quas, saepe
        nemo fugiat rerum amet tempora nesciunt eius cum cumque doloribus praesentium? Architecto dicta sed consequatur?
        <br>
        Quod dolor molestiae eos architecto, odit necessitatibus voluptatibus laboriosam magnam doloremque beatae
        debitis? Id fugiat harum est quae, mollitia quia sit nam corrupti veniam, laudantium similique, molestias iste
        molestiae fuga? <br>
        Odit enim reiciendis, neque cumque, fugiat inventore error soluta tempora nemo ullam maiores eaque magnam
        dolorem? Cum nesciunt voluptates, inventore, necessitatibus, quaerat expedita aliquid repellendus dignissimos
        iste vel cupiditate ipsam. <br>
        Laborum nisi unde repudiandae perspiciatis voluptatibus illum odio nemo et! Dolor tenetur optio aliquid dolorum
        at impedit eum iusto sed laudantium nihil omnis assumenda excepturi vel autem laborum, debitis adipisci!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur laboriosam ipsam eos cupiditate id non? Aut
        aliquid dolores sit nulla beatae ipsa velit a sapiente porro itaque exercitationem, culpa aspernatur? <br>
        Quo vero molestiae et rem, voluptatibus possimus hic, aspernatur quam harum similique asperiores quas, saepe
        nemo fugiat rerum amet tempora nesciunt eius cum cumque doloribus praesentium? Architecto dicta sed consequatur?
        <br>
        Quod dolor molestiae eos architecto, odit necessitatibus voluptatibus laboriosam magnam doloremque beatae
        debitis? Id fugiat harum est quae, mollitia quia sit nam corrupti veniam, laudantium similique, molestias iste
        molestiae fuga? <br>
        Odit enim reiciendis, neque cumque, fugiat inventore error soluta tempora nemo ullam maiores eaque magnam
        dolorem? Cum nesciunt voluptates, inventore, necessitatibus, quaerat expedita aliquid repellendus dignissimos
        iste vel cupiditate ipsam. <br>
        Laborum nisi unde repudiandae perspiciatis voluptatibus illum odio nemo et! Dolor tenetur optio aliquid dolorum
        at impedit eum iusto sed laudantium nihil omnis assumenda excepturi vel autem laborum, debitis adipisci!
    </p>
</div>