<div class="container">
    <h1>How to Enter</h1>
    <ul>
        <li> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium! </li>
        <li> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium! </li>
        <li> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium! </li>
        <li> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium! </li>
        <li> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium! </li>
        <li> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium! </li>
        <li> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium! </li>
    </ul>

    <h2>Rules</h2>

    <ul>
        <li> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium! </li>
        <li> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium! </li>
        <li> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium! </li>
        <li> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium! </li>
        <li> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium! </li>
        <li> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium! </li>
        <li> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium! </li>
    </ul>

    <h2>Winners Draw</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, corrupti molestias! Repellendus ipsum numquam
        rem
        asperiores, sit earum. Eligendi architecto quo odio illo porro doloremque numquam voluptas dolores, maiores
        cum.
    </p>
</div>